GO_ENV=dev #dev, prod
POSTGRESQL_HOST=localhost
POSTGRESQL_USER=postgres
POSTGRESQL_PASS=1221
POSTGRESQL_PORT=5432
FRONTEND_URL=http://localhost:3000
JWT_SECRET=secret
ADMIN_EMAIL=test@gmail.com
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
AWS_DEFAULT_REGION=region
SENDER_ADDRESS=sender@gmail.com
PORT=8080